@model Domain.Beneficio

@{
    ViewData["Title"] = "BeneficiosDetails";
}
<div class="m-2 container-fluid d-flex justify-content-center p-4 rounded bg-success">
    <h2 class="text-white">Detalhes do benefício</h2>
</div>

<div class="container-fluid d-flex justify-content-center m-4">
    <h4>@Html.DisplayFor(model => model.Nome)</h4>
</div>
<div class="container-fluid d-flex justify-content-center">
    <dl class="dl-horizontal text-white bg-danger p-4 rounded">
        <dt>
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-block btn-success"  asp-action="BeneficiosEdit" asp-route-id="@Model.BeneficioId">Editar</a>
    <a class="btn btn-block btn-warning" asp-action="Beneficios">Voltar</a>
</div>
