@model IEnumerable<Domain.Cliente>

@{
    ViewData["Title"] = "ClientesAssociado";
}
<div class="m-2 container-fluid d-flex justify-content-center p-4 rounded bg-success">
    <h2 class="text-white">Clientes Associado a mim</h2>
</div>

<div class="container-fluid d-flex justify-content-center m-4">
    <a asp-action="Index" class="btn btn-danger">Menu principal</a>
</div>
<table class="table table-striped table-dark table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
        </tr>
}
    </tbody>
</table>
