@model IEnumerable<Domain.Empresa>

@{
    ViewData["Title"] = "Empresas";
}
<div class="container-fluid d-flex justify-content-center bg-info p-4 m-4 rounded-pill">
    <h2 class=" text-white">Empresas</h2>
</div>
<div class="container-fluid d-flex justify-content-center m-3">
    <a class="btn btn-success p-4" asp-controller="Cliente" asp-action="Index">Index</a>
</div>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razao)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Razao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td class="d-flex justify-content-between">
                <a asp-action="EmpresaParceria" asp-route-id="@item.EmpresaId" class="btn btn-primary">Adicionar</a>
                <a asp-action="EmpresaDetails" asp-route-id="@item.EmpresaId" class="btn btn-info">Detalhes</a>
            </td>
        </tr>
}
    </tbody>
</table>
