@model IEnumerable<Domain.Beneficio>

@{
    ViewData["Title"] = "EmpresaBeneficios";
}
<div class="container-fluid d-flex justify-content-center bg-info p-4 m-4 rounded-pill">
    <h2>Benefícios da empresa</h2>
</div>

<div  class="d-flex justify-content-between">
    <a asp-action="Index" class="btn btn-info">Início</a>
    <a asp-action="EmpresaParceriasMinhas" class="btn btn-warning">Voltar</a>
</div>
<table class="table table-striped table-dark m-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CriadoEm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CriadoEm)
                </td>
            </tr>
        }
    </tbody>
</table>
